<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ficciones de Jorge Luis Borges</title>
  <link rel="stylesheet" href="../../Styles/Style.css">
  <link rel="icon" type="image/x-icon" href="../../Assets/Images/icono.png">
</head>
<body class="pagina pagina-textos">
  <!-- Navbar -->
    <nav>
      <div class="logo">
        <a href="../../index.html"><img src="../../Assets/Images/icono.png" height="40" alt="logo"></a>
        <h1><a href="../../index.html">MediaVault</a></h1>
      </div>

  <!-- Botón hamburguesa -->
      <button class="menu-toggle" id="menu-toggle">&#9776;</button>

  <!-- Menú -->
      <ul id="nav-links">
        <li><a href="../sobrenosotros.html">Sobre Nosotros</a></li>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../imagenes.html">Imagenes</a></li>
        <li><a href="../textos.html">Textos</a></li>
        <li><a href="../videos.html">Videos</a></li>
        <li><a href="../login.html">Iniciar Sesión</a></li>
      </ul>
    </nav>

  <!-- Script para togglear el menú -->
    <script src="../../Scripts/navbar.js"></script>

  <main>
    <h1>Borges - Ficciones</h1>
    <div id="Contenedor-de-texto" class="content-grid"></div>
  </main>

  <script src="../../Scripts/ContentRender.js"></script>
  <script>
    // Llamar al render dinámico para textos
    renderContent("Contenedor-de-texto", "textos");
  </script>
</body>
</html>